---
import data from '../data/projects.json';
import '../styles/style.css';
const currentYear = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
  </head>

  <body>
    <header>
      <h1>Hey there!</h1>

      <p>
        I'm Samhith, a 14-year-old teenager based out of the Bay Area.
      </p>

      <p>
        At any given moment, you will either find me:<br>
        - Outside of the country on a side quest<br>
        - Working on a project either for myself or for a Hack Club event (or both)<br>
        - Playing my trumpet or guitar<br>
        - At Taekwondo or a Taekwondo event<br>
        - At some other random event (rare find)<br>
        <br>
        I code mainly in C, C++ and Python sometimes.
      </p>

      <!-- BUTTONS -->
      <div class="links">

        <div class="btn-wrapper">
            <a href="/blog" target="_self">
            <img src="/blogbutton.png" alt="Blog" class="btn">
            <img src="/lookatme.png" alt="" class="hover-arrows">
          </a>
        </div>

        <div class="btn-wrapper">
          <a href="https://github.com/SamhithPola2025" target="_self">
            <img src="/gitbutton.png" alt="GitHub" class="btn">
            <img src="/lookatme.png" alt="" class="hover-arrows">
          </a>
        </div>

      </div>
    </header>

    <main>
      <section>
      <br>
      
        <h2>My Projects</h2>

        <div class="projects">
          {data.map((project) => (
            <div class="card">
              <h3>
                <a
                  href={project.link.startsWith('http') ? project.link : `https://${project.link}`}
                  target="_blank"
                >
                  {project.name}
                </a>
              </h3>

              <p>{project.description}</p>

              <div class="tech">
                <strong>made with:</strong>
                {project.tech.map((t) => (
                  <span>{t}</span>
                ))}
              </div>
            </div>
          ))}
        </div>
      </section>
    </main>

    <footer style="margin-top: 3rem;">
      <img src="/signature.png" alt="signature" style="width: 300px; height: auto;">
      <p>&copy; {currentYear}</p>
    </footer>
  </body>
</html>
